<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Random Jokes</title>
</head>
<body>
  <h1>Picture of a Dog!</h1>
  <img src={{result}} alt="Image" />

  <h1>Hey there! Here's a random joke for you..</h1>
  <p id="joke"></p>
  <button onclick="getJoke()">Tell me a joke!</button>
  <script>
    function getJoke() {
      fetch('https://official-joke-api.appspot.com/random_joke')
        .then(response => response.json())
        .then(data => {
          document.getElementById('joke').textContent = data.setup + " " + data.punchline;
        })
        .catch(error => {
          console.error('Error fetching joke:', error);
          document.getElementById('joke').textContent = 'Oops! Something went wrong. Try again later.';
        });
    }
  </script>
</body>
</html>